<!doctype html>
<html>
	<head>
		<title>InfoCacao</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>InfoCacao</h1>
		<div>
			<h2>Choose your location!</h2>
			<select>
				<option value="Esmeraldas">Esmeraldas</option>
				<option value="Los Rios">Los Rios</option>
				<option value="Manabi">Manabi</option>
			</select>
			<button type="submit">Find price information</button>
			<%= image_tag 'cacao_image.png' %> 
	</body>
</html>	
